common --java_language_version=17
common --java_runtime_version=remotejdk_17

# Lock down the JVM infrastructure used in tooling.
common --tool_java_language_version=25
common --tool_java_runtime_version=remotejdk_25

build --nojava_header_compilation
build --experimental_strict_java_deps=error
build --strategy=PalantirJavaFormat=worker,local
build --worker_max_instances=PalantirJavaFormat=1
test --explicit_java_test_deps

common --flag_alias=release_version=//tools/release:version
